
<%= provide(:title, @user.username) %>
<div class="wrapper">
  <div class = "row">
    <aside class="span4">
      <section>
        <h1><%= @user.username %></h1>
        
      </section>
    </aside>
  </div>

  <%#= javascript_tag "var userShoeSize = #{@user.shoe_size};" %>
  <h1>Shoes</h1>
  <div class="products-container wrapper">
      <!-- <ul class="products-container"></ul>  -->
  </div>
  <h1>Dresses</h1>
  <div class="dress-container wrapper">
      <!-- <ul class="products-container"></ul>  -->
  </div>
  <h1>Tops</h1>
  <div class="top-container wrapper">
      <!-- <ul class="products-container"></ul>  -->
  </div>
</div>
<%= javascript_tag "var userId = #{@user.id};" %>
