@import "bootstrap";

@mixin box_sizing {
  box-sizing: border-box;         /* Opera/IE 8+ */ 
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  -webkit-box-sizing: border-box; /* Chrome */
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  div {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #FFD2D0;
    color: #C60600;
  }
  ul li {
    font-size: 12px;
    list-style: none;
    color: #f00;
  }
}

.alert-notice{
  background-color: #89EA8C;
  color: #006603;
}

.alert-error{
  background-color: #FFD2D0;
  color: #C60600;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  padding: 2px;
  display: table;
}

#notice {
  color: green;
}

#error {
  color: red;
}
