<footer>
  <div class="wrapper-head">
    <h6>Built by <a href="http://twitter.com/sashaydoll" target="_blank">Denine Guy</a> using the Gilt Groupe API</h6>
    <h6>(no affiliation with <a href="http://gilt.com" target="_blank">Gilt Groupe</a>)</h6>
  </div>
</footer>